

<div class="container">
    <p>Lista de Pacientes</p>

    <button routerLink="/add" type="button" class="btn btn-dark">Agregar</button>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Genero</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo Electronico</th>
            <th scope="col">Numero de Seguro</th>
            <th scope="col">Razon de la cita</th>
            <th scope="col">Sintomas</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let paciente of pacientes">
            <th scope="row">{{paciente.id_paciente}}</th>
            <td>{{paciente.nombre_completo}}</td>
            <td>{{paciente.fecha_nacimiento}}</td>
            <td>{{paciente.genero}}</td>
            <td>{{paciente.direccion}}</td>
            <td>{{paciente.telefono}}</td>
            <td>{{paciente.correo_electronico}}</td>
            <td>{{paciente.numero_seguro_medico}}</td>
            <td>{{paciente.razon_cita}}</td>
            <td>{{paciente.sintomas_quejas}}</td>
            <td>
                <button (click)="modificar(paciente.id_paciente)" type="button" class="btn btn-primary">Editar</button>
            </td>
            <td>
                <button (click)="eliminar(paciente.id_paciente)" type="button" class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>